body {
    font-family: 'Overpass', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
}

.card {
    color: hsl(216, 12%, 54%);
    padding: 1.5em;
    border-radius: 30px;
    height: 320px;
    width: 300px;
    background-color: hsl(213, 19%, 18%);
    max-width: 300px;
    position: relative;
    text-align: left;
}
.image{
    margin-top: 1em;
    height: 13px;
    width: 13px;
}
.image-container {
    background-color: hsl(214, 20%, 25%);
    display: inline;
    padding-top: 0.8em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 100%;
}

h2 {
    margin-top: 1.5em;
    color: white;
}

.text {
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    line-height: 1.6em;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.button1,
.button2,
.button3,
.button4,
.button5 {
    margin-top: 0.3em;
    color: rgba(255, 255, 255, 0.603);
    height: 45px;
    width: 45px;
    position: relative;
    padding: 1em;
    border: none;
    border-radius: 22.5px;
    background-color: hsl(214, 20%, 25%);
    cursor: pointer;
    transition: 1s;
}

.button1:active,
.button2:active,
.button3:active,
.button4:active,
.button5:active,
.active {
    color: white;
    background-color: hsl(217, 12%, 63%);
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.hover {
    background-color: hsl(25, 95%, 59%);
}

.submit-button {
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-top: 2.0em;
    border-radius: 20px;
    height: 37px;
    width: 100%;
    border: none;
    background-color: hsl(25, 95%, 59%);
    letter-spacing: .1rem;
    transition: 1s;
    cursor: pointer;
}

.submit-button:hover {
    background-color: white;
    color: hsl(25, 95%, 59%);
}

.attribution {
    position: relative;
    bottom: -50px;
    display: block;
    font-size: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.603);
}

.attribution a {
    color: rgba(255, 255, 255, 0.836);
}